@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-white;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto px-6 py-20;
  }
}
